.single__product{
  width: 100%;
  margin: 0 auto;
}
.single__product h1 {
  text-align: center;
  color: var(--poppy);
}
.single__product h2 {
  margin: 0 auto;
  text-align: center;
}
.single__product p.description {
  margin: 0 auto;
  padding: 0 .1rem;

}
.single__product h4{
  text-align: left;
  font-weight: 500;
  margin-top: 10px;
  font-size: 17px;
}
.singlep__category::before{
  content: "Product Category: ";
  padding-right: 10px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.singlep__category{
  text-transform: capitalize;
  color: var(--mainBlack);
  text-align: center; 
  font-size: 25px;
  margin-bottom: 20px;
}
.formatted__name{
  font-weight: 500;
  margin-right: 10px;
}
.singlep__media{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.singlep__skintypes .skintype {
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
}
.singlep__skintypes .skintype::after {
  content: ", ";
}
.singlep__skintypes .skintype:last-child::after {
  content: "";
}
@media screen and (max-width: 600px){
 .singlep__media { 
   display: block;
   margin: 0 auto;
  }
 .singlep__media * { 
   margin: 5px auto;
  }
  .singlep__media .singlep__image__container{
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 364px){
  .video__player{
    height: unset !important;
  }
}
