.mediaimagelist__item {
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mediaimagelist__item:hover{
  box-shadow: var(--dark-shadow);
}
.mediaimagelist__item_name{
  white-space: nowrap; 
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; 
}
