.ba__article{
  align-items: center;
  border:  0.3125rem solid var(--mainMcc);
  border-radius: 0.625rem;
  box-shadow: var(--light-shadow);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1.25rem auto 0;
  width: 100%;
}
.ba__article__media{
  border-radius: 0.9375rem;
  margin: 0 auto;
  height: auto;
  width: 40%;
}
.ba__article__media  > figure{
  border: 0.3125rem solid var(--mainWhite);
  border-radius: 0.625rem;
}
.ba__article__media > figure > figcaption{
  font-size: .8rem;
  line-height: normal;
  margin: .1rem auto;
  text-align: justify;
  width: 90%;
}
.ba__article__text{
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  width: 45%;
}
.ba__article__text__heading{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}
ul.ba__article__text__list{
  font-size: .9rem;
  margin-left: 15%;
  text-align: left;
  white-space: pre-line;
  width: 80%;
}
@media screen and (max-width: 820px){
  .ba__article__media, .ba__article__text{
    width: 80%;
  }
  ul.ba__article__text__list{
    margin-left: auto;
  }
}
