.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 3rem;
}
.form__header{
  text-align: center;
}
.form__label {
  display: block;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
.form__label + .form__label {
  margin-top: 0.5rem;
}
.form__input {
  display: block;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.45rem;
  border-radius: 5px;
}
.form__instructions{
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
}
.form__instructions span.phone {
  font-weight: 600;
  margin: 0 5px;
}
@media screen and (max-width: 600px){
.form__instructions{
  text-align: center;
  margin: 0 auto;
}
}
