a.professional__logout__link {
  border: 4px solid var(--mainWhite);
  padding: 5px;
  padding-inline-start: 0;
}
a.professional__logout__link::before {
  content: '/ ';
  color: var(--darkGrey);
}
a.professional__logout__link:focus,
.professional__logout__link:hover {
  color: red;
}
