.professional__status__span{
  position: relative;
}
.professional__status__span a{
  padding: 5px;
}
.pro__education .professional__logout__link {
  color: var(--mainWhite);
  font-size: .35rem;
  position: absolute;
  top: 100%;
  left: 59%;
  padding: 0 0;
}
.pro__education a.logout-link.professional__logout__link:hover {
  color: var(--mainBlack);
}
