.professional__status__span{
  position: relative;
}
.pro__education .professional__logout__link {
  color: var(--mainWhite);
  font-size: .35rem;
  position: absolute;
  padding: 1px;
  top: 100%;
  left: 59%;
}
.pro__education .professional__logout__link:hover {
  color: var(--mainBlack) !important;
}
