:root{
  --clr-primary-5: hsl(21, 62%, 45%);
  --clear: rgba(0, 0, 0, 0);
  --darkGrey: #cfcfcf; /* form borders */
  --mainBlack: #5d5252;
  --mainMcc: #dcdcdc;
  --mainWhite: #fff;
  --mainSpacing: 0.0625rem;
  --pinkHilight: rgb(165 101 95 / 0.3);
  --poppy: #a5655f;
  --poppyLow: rgb(165 101 95 / .8);
  --poppyHigh: #ab484f;
  --poppyDark: #844D49;
  --mainFont: Montserrat, sans-serif;
  --bodyLineHeight: 1.8em;
  --headingLineHeight: 1.4em;
  --bgTransition: background-color 100ms linear;
  --mainTransition: all 0.1s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
  font-size: 100%;
  text-decoration: none;
}
:focus{
  outline: var(--clear);
}
a {
  color: var(--mainBlack);
  cursor: pointer;
  text-decoration: none;
  line-height: inherit;
  font-size: 100%;
  font-weight: 400;
}
a:focus{
  outline: none;
  background: inherit;
  text-decoration: none;
}
body {
    background: var(--mainMcc);
    background-color: var(--mainMcc);
    background-size: auto;
    background-repeat: repeat;
    color: var(--mainBlack);
    display: block;
    font-family:var(--mainFont);
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: var(--bodyLineHeight);
    margin: 0;
    min-height: 100vh;
    overflow: scroll;
    text-decoration: none;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--mainBlack);
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 300;
  line-height: var(--headingLineHeight);
  margin: 0.5em 0 0.3em;
}
h1 {
  font-size: 43px;
  letter-spacing: var(--mainSpacing);
  margin: 20px auto;
}
h2, h3{
  font-size: 30px;
}
hr { /* upcoming classes */
  background: rgba(0, 0, 0, 0.1);
  border: none;
  height: 1px;
  margin: 0 auto;
}
input:focus, textarea:focus, select:focus,
input:active, textarea:active, select:active{
  outline: none;
  outline-color: var(--poppy);
  border: 1px solid var(--poppy);
}
main{
  background: var(--mainWhite);
  background-color: var(--mainWhite);
  border: 0;
  border-radius: 25px;
  color: var(--mainBlack);
  font-family: var(--mainFont);
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
nav{
  color: var(--mainBlack);
  font-size: 16px;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 20px;
}
nav *{
  color: var(--mainBlack);
  font-size: 16px;
  letter-spacing: var(--mainSpacing);
  line-height: var(--bodyLineHeight);
  text-transform: uppercase;
}
p {
  color: var(--mainBlack);
  padding: 0 0 1.8em;
  font-family: var(--mainFont);
  font-weight: 400;
  line-height: var(--bodyLineHeight);
  white-space: pre-line;
}
p.description{
  text-align: justify;
  margin-bottom: 0 !important;
}
ul  {
  list-style: none;
}
ul[data-bullet-list] {
  color: var(--mainBlack);
  display: block;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  list-style:none;
  margin: 0 20px;
}
ul[data-bullet-list] > li p{
  margin: 7.5px auto;
  padding: 0 0 .2rem;
  white-space: pre-line;
  font-weight: 400;
}
ul[data-bullet-list] > li:first-child  p{ 
  padding: .4rem 0 .2rem;
}
ul[data-bullet-list] li>*:first-child::before{
  box-sizing: border-box;
  color: var(--mainBlack);
  content: "\2022";
  display: inline-block;
  margin-left: -40px;
  min-width: 40px;
  padding-right: 10px;
  text-align: right;
  white-space: pre;
}
div#content {
  background: var(--mainWhite);
  border-radius: 25px;
  max-width: 1150px;
  margin: 2px auto;
  outline: none;
  padding: 0.1rem 3.2rem;/*padding: 0 50px;*/
  white-space: pre-line;
}
.btn {
  background: var(--mainWhite);
  border: 2px solid var(--poppyLow);
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  color: var(--poppyLow);
  cursor: pointer;
  display: inline-block;
  letter-spacing: var(--mainSpacing);
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--mainTransition);
  outline: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: var(--mainWhite);
  color: var(--poppyHigh);
  border: 2px solid var(--poppyHigh);
  box-shadow: var(--dark-shadow);
}
.btn-form{
  border: 2px solid var(--poppy);
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.75rem;
  padding: 0.95rem 2.05rem;
  transition: background-color 100ms linear;
}

/*
=============== 
Utility classes
===============
*/
.bold {
  font-weight: 600;
}
.flex{
  display: flex;
}
.poppy{
  color: var(--poppy);
}
.txt-center{
  text-align: center;
}
.w-100{
  width: 100%;
}
.facebook{
  color: blue !important;
}
@media screen and (max-width: 320px){
  div#content{
    border-radius: 10px;
    padding: 0.1rem .7rem;/*padding: 1.6px 11px;*/
  }
  h1{
    text-align: center;
    margin: unset !important;
    padding: unset !important;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px){
  div#content{
    border-radius: 15px;
    padding: 0.1rem 1.1rem;/*padding: 1.6px 17px;*/
  }
}
@media screen and (min-width: 481px) and (max-width: 719px){
  div#content{
    border-radius: 25px;
    padding: 0.1rem 2.2rem;/*padding: 1.6px 35px;*/
  }
}
@media screen and (min-width: 720px) and (max-width: 1239px){
  div#content{
    border-radius: 25px;
    padding: 0.1rem 2.5rem; /*padding: 1.6px 40px;*/
  }
}
@media screen and (min-width: 1240px){
  div#content{
    border-radius: 30px;
    padding: 0.1rem 3.2rem; /*padding: 1.6px 50px;*/
  }
}
