:root {
  --clear: rgba(0, 0, 0, 0);
  --darkGrey: #9d9d9d; /* #9d9692;*/
  --blackTxt: #3c3c3c;
  --mainBlack: #555;
  --mainMcc: #e0e0e0;
  --offWhite: #eeeeee; /* #f2f2f2; */
  --mainWhite: #fffffe;
  --mainSpacing: 0.0625em;
  --gray: #e1dfe0;
  --darkest: #030303;
  --poppy0: #e9eff6;
  --poppy5: #becfe3;
  --poppy: #3b70aa;
  --poppy9: #1c4879;
  --acneSafe: #2b517b;
  --mainFont: 'Montserrat Variable', sans-serif;
  --bodyLineHeight: 1.8em;
  --headingLineHeight: 1.4em;
  --bgTransition: background-color 100ms linear;
  --mainTransition: all 0.1s linear;
  --light-shadow: 0 5px 3px rgb(0 0 0 / 10%);
  --dark-shadow: 0 0 4px rgb(0 0 0 / 15%);
  --mainRadius: 1.75rem;
}

html {
  font-size: 16px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: var(--mainFont);
  font-size: 1rem;
  color: var(--mainBlack);
}

body {
  font-family: var(--mainFont);
  font-style: normal;
  background: var(--mainMcc);
  background-color: var(--mainMcc);
  line-height: var(--bodyLineHeight);
  min-height: 100vh;
  overflow: scroll;
  text-transform: none;
}

::selection {
  background-color: var(--poppy);
  color: var(--offWhite);
}

:focus {
  outline: none;
  outline-offset: 0; /* -4px */
  border-radius: 4px;
}

a {
  background: inherit;
  text-decoration-line: none;
}

button:focus,
a:focus {
  outline: 2px solid var(--poppy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: var(--headingLineHeight);
  margin: 0.5em 0 0.3em;
  margin-top: 0;
  text-transform: capitalize;
}

h1 {
  color: var(--poppy);
  letter-spacing: -1px;
  font-size: 2.6876em;
  margin: 0 auto 0.3em;
  text-align: center;
}

h2,
h3 {
  line-height: 1.3em;
  letter-spacing: 0;
  font-size: 2em;
}

hr {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  height: 1px;
  margin: 0 auto;
}

input,
textarea,
select {
  letter-spacing: normal;
}


input:focus,
textarea:focus,
select:focus,
input:active,
textarea:active,
select:active {
  outline-color: var(--poppy);
}
main {
  background: var(--mainWhite);
  background-color: var(--mainWhite);
  border: 0;
  border-radius: var(--mainRadius);
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  position: relative;
}
nav {
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  margin: 1.25rem auto 0.5rem;
}
nav * {
  font-size: 1rem;
  letter-spacing: -0.03rem;
  text-transform: uppercase;
  white-space: nowrap;
}
p {
  padding: 0 0 1.8em;
  font-size: 1rem;
  line-height: var(--bodyLineHeight);
  white-space: pre-line;
}
ul {
  list-style: none;
}
li {
  line-height: 1.5em;
  list-style: none;
}
ul[data-bullet-list] {
  display: block;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6875em;
  list-style: none;
  margin: 0 1.25rem 0.5em;
}
ul[data-bullet-list] > li h3,
ul[data-bullet-list] > li h4,
ul[data-bullet-list] > li p {
  margin: 0.46875rem auto;
  padding: 0 0 0.2rem;
  white-space: pre-line;
}

ul[data-bullet-list] > li:first-child h3,
ul[data-bullet-list] > li:first-child h4,
ul[data-bullet-list] > li:first-child p {
  padding: 0.4rem 0 0.2rem;
}

ul[data-bullet-list] li > *:first-child::before {
  box-sizing: border-box;
  content: '\2022';
  display: inline-block;
  margin-left: -40px;
  min-width: 40px;
  padding-right: 10px;
  text-align: right;
  white-space: pre;
}
div#content {
  background: var(--mainWhite);
  border-radius: 1.5625rem;
  border-radius: var(--mainRadius);
  max-width: 1150px;
  margin: 2px auto;
  outline: none;
  padding: 0.1em 3.2em;
  white-space: pre-line;
}

button {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5em;
  background: inherit;
}
.btn {
  background: var(--mainWhite);
  border: 0.125rem solid var(--poppy);
  border-radius: 0.5rem;
  box-shadow: var(--light-shadow);
  color: var(--poppy);
  display: inline-block;
  letter-spacing: var(--mainSpacing);
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--mainTransition);
  outline: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: var(--mainWhite);
  color: var(--poppy);
  border: 2px solid var(--poppy);
  box-shadow: var(--dark-shadow);
}

/*
=============== 
Utility classes
===============
*/

.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.flex {
  display: flex;
}
.poppy {
  color: var(--poppy);
}
.txt-center {
  text-align: center;
}
.txt-sm{
  font-size: 0.8125em;
}
.pb0 {
  padding-bottom: 0px;
}
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
.space-l {
  padding-inline-start: 5px;
}
.space-r {
  padding-inline-end: 5px;
}
.serif{
  font-family: Times, serif !important;
}
.br{
  border-radius: 1rem;
}

/* 
=============== 
END utility classes
===============
*/

@media screen and (max-width: 320px) {
  div#content {
    border-radius: 10px;
    padding: 0.1rem 0.7rem;
    padding-block: 0.1rem;
    padding-inline: 0.7rem;
  }
  h1 {
    text-align: center;
    margin: unset !important;
    padding: unset !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  p {
    /*text-overflow: clip;
    overflow: scroll;
    white-space: nowrap;
    min-width: 100%;
    max-width: -webkit-fill-available; */
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  div#content {
    border-radius: 15px;
    padding: 0.1rem 1.1rem;
    /*padding-block: 0.1rem;
    padding-inline: 1.1rem; */
  }
}
@media screen and (min-width: 481px) and (max-width: 719px) {
  div#content {
    border-radius: 1.5625rem;
    padding: 0.1rem 2.2rem;
    /*padding-block: 0.1rem;
    padding-inline: 2.2rem; */
  }
}
@media screen and (min-width: 720px) and (max-width: 1239px) {
  div#content {
    border-radius: 1.5625rem;
    padding: 0.1rem 2.5rem;
    /*padding-block: 0.1rem;
    padding-inline: 2.5rem; */
  }
}
@media screen and (min-width: 1240px) {
  div#content {
    border-radius: var(--mainRadius);
    padding: 0.1rem 3.2rem;
  }
}
