:root {
  /*--poppy: #f24b3d; not passing text*/
  --poppy: #a5655f;
  --pinkHilight:#E9DBD8;
  --mainMcc: #dcdcdc;
  --mccPink: #ff665e;
  --mainWhite: #fff;
  --mainBlack: #676767;
  --lightBlack: #757369;
  --mainBlack: #5a584e;
  --lightGrey:#dcd9d9;
  --mainGrey: #d3d3d3;
  --darkGrey: #cfcfcf;
  --mainTransition: all .1s linear;
  --bgTransition: background-color 100ms linear;
  --mainSpacing: 0.0625rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainFont: Montserrat, sans-serif;
  --headingLineHeight: 1.4em;
  --bodyLineHeight: 1.8em;
}
*,
::before,
::after,
* + * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}
html {
  display: block;
  font-family:var(--mainFont);
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
    background: var(--mainMcc);
    background-attachment: scroll;
    background-color: var(--mainMcc);
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    color: var(--mainBlack);
    display: block;
    font-family:var(--mainFont);
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: var(--bodyLineHeight);
    overflow: scroll;
    text-align: justify;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    min-height: 100vh;
}
main{
  background: var(--mainWhite);
  background-color: var(--mainWhite);
  border: 0;
  border-radius: 25px;
  color: var(--mainBlack);
  font-family: var(--mainFont);
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--mainFont);
  font-weight: 300;
  line-height: var(--headingLineHeight);
  margin: 0.5em 0 0.3em;
  color: var(--mainBlack);
}
h1 {
  font-size: 43px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
  margin: 20px auto;
}
h2, h3{
  font-size: 30px;
  font-weight: 300;
}
a {
  color: var(--mainBlack);
  cursor: pointer;
  text-decoration: none;
}
a:focus{
  outline: none;
  background: inherit;
  text-decoration: none;
}
button {
  outline: none;
  background-color: var(--mainWhite);
}
hr {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  height: 1px;
  margin: 0 auto;
}
img{
  border-radius: 0px;
}
nav li {
  list-style: none;
}
nav  li  a,
nav button.plus-btn,
nav span.professionals{
    color: var(--mainBlack);
    font-family:var(--mainFont);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: var(--mainSpacing);
    line-height: var(--bodyLineHeight);
    text-transform: uppercase;
}
p {
  color: var(--mainBlack);
  font-family: var(--mainFont);
  font-weight: 400;
  line-height: var(--bodyLineHeight);
  white-space: pre-wrap;
}
p.description{
  text-align: justify;
}
.btn {
  cursor: pointer;
  display: inline-block;
  letter-spacing: var(--mainSpacing);
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--mainTransition);
  border: 2px solid var(--mainWhite);
  border-radius: 10px;
  color: var(--mainWhite);
  outline: none;
  box-shadow: unset;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: var(--mainWhite);
  color: var(--mainBlack);
  border: 2px solid var(--mainBlack);
}
.btn-white {
  background: var(--mainBlack);
  border: 2px solid var(--mainBlack);
  color: var(--mainWhite);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}
ul[data-bullet-list] {
  color: var(--mainBlack);
  display: block;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  list-style:none;
  margin: 0 20px;
}
ul[data-bullet-list] > li p{
  margin: 7.5px auto;
  padding: 0 0 .2rem;
  white-space: pre-wrap;
  font-weight: 400;
}
ul[data-bullet-list] > li:first-child  p{ 
  padding: .4rem 0 .2rem;
}
ul[data-bullet-list] li>*:first-child::before{
  box-sizing: border-box;
  color: var(--mainBlack);
  content: "\2022";
  display: inline-block;
  margin-left: -40px;
  min-width: 40px;
  padding-right: 10px;
  text-align: right;
  white-space:pre;
}
input:focus, textarea:focus, select:focus,
input:active, textarea:active, select:active{
  outline: none;
  outline-color: var(--poppy);
  border: 1px solid var(--poppy);
}
#gatsby-focus-wrapper > div.tl-edges{
  /*1px border at the very top & bottom */
  border-left: 1px solid var(--mainMcc);
  border-right: 1px solid var(--mainMcc);
}
div#content {
  background:var(--mainWhite);
  border: 1px solid var(--mainWhite);
  border-radius: 25px;
  max-width: 1150px;
  margin: 10px auto;
  padding: 0 50px 0;
  outline: none;
}

/* Start Utility classes */
.bold {
  font-weight: 600;
}
.poppy{
  color: var(--poppy);
}
.txt-center{
  text-align: center;
}
.w-100{
  width: 100%;
}
/* End Utility classes */

@media screen and (max-width: 1239px){
  div#content{
    border-radius: 25px; padding: 0 50px 0;
  }
}
@media screen and (max-width: 480px){
  div#content{
    border-radius: 15px; padding: 0 30px 0;
  }
}
@media screen and (max-width: 320px){
  div#content{
    border-radius: 10px; padding: 0 20px 0;
  }
}
/*desktop mv 1281px 1240px */
@media screen and (min-width: 1240px){
  #gatsby-focus-wrapper>div>div{}
  #gatsby-focus-wrapper{}
  div#content{
    border-radius: 30px;
    padding: 0 20px 0;
  }
}
