/* GLOBALS */
.section__header {
  width: 100%;
  text-align: center;
  color: var(--poppy);
  font-size: 2.3rem;
  margin: 1rem auto;
}

/* MANUALS - KITS - FACIALS */
.manual__section, .kit__section, .facial__section {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* MANUALS */
.esthetician_image {
  margin: 30px auto;
  text-align: center;
  width: 40%;
}

/* FACIALS  */
.facial__download_list_image_container {
  width: 40%;
}
div.facial__download_list {
  width: 100%;
}
.facial__bowl_image {
  margin: 30px auto;
  width: 70%;
}

/* ORDERS  */
.order__specifics {
  margin: 0 auto;
  text-align: center;
}
.order__specifics__item > .order__specifics__item__details {
  margin-left: 25px;
  text-align: left;
  white-space: pre-line;
}
.order__specifics__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .facial__section, .kit__section, .manual__section {
    flex-direction: column;
    align-items: center;
  }
  .esthetician_image {
    display: none;
  }
  .facial__download_list_image_container {
    width: 100%;
  }
}
